$if Bash

set colored-stats on
set colored-completion-prefix on

"\e\C-n": menu-complete
"\e\C-p": menu-complete-backward

"\e\C-o": "virt-manager -c \"${LIBVIRT_DEFAULT_URI:-qemu:///system}\" --show-domain-console live"

$endif
